[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botbuilder-integration-aiohttp = ">=4.14.0"
botbuilder-dialogs = ">=4.14.0"
boto3 = "==1.17.64"
pytz = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.10"
